<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
  </head>
  <body class="flex flex-col items-center justify-between h-screen">
    <div class="w-full h-full flex flex-col">
      <div class="w-full p-5 bg-white h-16">
        <a href="/" class="text-blue-500 absolute">Back</a>
        <h2 class="text-xl text-center font-semibold">Name of the chat... TODO</h1>
      </div>
      <div
        id="messages"
        class="flex-1 w-full overflow-y-auto p-5 bg-white border border-gray-200 rounded-lg mb-4"
      ></div>
  
      <div class="w-full p-5 bg-white shadow-lg rounded-b-lg flex items-center">
        <input
          id="messageInput"
          type="text"
          placeholder="Type your message..."
          class="w-full p-3 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <button
          onclick="sendMessage()"
          class="p-3 bg-blue-500 text-white rounded-r-lg hover:bg-blue-600 focus:outline-none"
        >
          Send
        </button>
      </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      const path = window.location.pathname;

      let socket;
      let chatId = path.split("/").pop();

      function getCookie(name) {
          const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
          return match ? match[2] : null;
      }

      const token = getCookie("access_token");


      function connectWebSocket() {
        // if (!token) {
        //     console.error("Токен не знайдено!");
        // } else {
        //     socket = new WebSocket(`ws://localhost:8000/ws/chat/${chatId}?token=${token}`);
        // }

        socket = new WebSocket(`ws://localhost:8000/ws/chat/${chatId}?token=${token}`);
        socket.onopen = () => {
          console.log("Connected to WebSocket");
        };

        socket.onmessage = function (event) {
          const messageData = JSON.parse(event.data);
          const messageElement = document.createElement("div");

          messageElement.innerHTML = `<strong>${messageData.username}:</strong> ${messageData.content}`;
          messageElement.classList.add(
            "message",
            "mb-4",
            "p-3",
            "rounded-lg",
            "bg-blue-100",
            "w-full",
            "max-w-lg",
            "self-start"
          );

          document.getElementById("messages").appendChild(messageElement);
        };
      }

      async function fetchMessages() {
        const response = await fetch(`/chats/${chatId}/messages`);
        const messages = await response.json();
        const messagesContainer = document.getElementById("messages");

        messages.forEach((msg) => {
          const messageElement = document.createElement("div");
          messageElement.classList.add(
            "message",
            "mb-4",
            "p-3",
            "rounded-lg",
            "bg-gray-100",
            "w-full",
            "max-w-lg",
            "self-start"
          );
          messageElement.innerHTML = `
                    <strong class="font-semibold">${msg.username}</strong><br>
                    <span class="text-gray-600">${msg.content}</span>
                `;
          messagesContainer.appendChild(messageElement);
        });

        messagesContainer.scrollTop = messagesContainer.scrollHeight;
      }

      function sendMessage() {
        const messageInput = document.getElementById("messageInput");
        const message = messageInput.value;

        if (message.trim()) {
          const messageData = {
            chat_id: chatId,
            // user_id: userId,
            content: message,
          };

          socket.send(JSON.stringify(messageData));
          messageInput.value = "";
        }
      }

      window.onload = function () {
        fetchMessages();
        connectWebSocket();
      };
    </script>
  </body>
</html>
